footer {
  background-color: #1f3c88;
  color: white;
  padding: 30px 5%;
  text-align: center;
  margin-top: 30px;
}

footer > div {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 15px;
}

footer a {
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

footer a:hover {
  color: #03213d;
}

footer p {
  margin-top: 10px;
  font-size: 0.95rem;
}